storage: none
source https://www.nuget.org/api/v2
framework >= netstandard2.0

nuget FSharp.Core ~> 3.0.0
nuget System.Json
nuget Fleece.FSharpData
nuget System.Net.Http

group Build
	source https://www.nuget.org/api/v2
    nuget FAKE

group Tests
    source https://www.nuget.org/api/v2
    framework >= netcoreapp2.0
    nuget FSharp.Core redirects: force
    nuget Fixie >= 2.0.0-beta-0001 version_in_path: true
    nuget Shouldly
    nuget Newtonsoft.Json