<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fleece.FSharpData" version="0.4.0" targetFramework="net452" />
  <package id="FsControl" version="1.0.9" targetFramework="net452" />
  <package id="FSharp.Data" version="2.0.14" targetFramework="net452" />
  <package id="FSharpPlus" version="0.0.4" targetFramework="net452" />
  <package id="FsPickler" version="1.4.0" targetFramework="net452" />
  <package id="FsPickler.Json" version="1.4.0" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="ReadOnlyCollectionExtensions" version="1.2.0" targetFramework="net452" />
  <package id="ReadOnlyCollectionInterfaces" version="1.0.0" targetFramework="net452" />
  <package id="System.Json" version="4.0.20126.16343" targetFramework="net452" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net452" />
</packages>