type project
id Scotch
version 0.1.2
authors
    Martin Leech
owners
    Martin Leech
description
    A library for recording and replaying HTTP interactions. Inspired by the VCR ruby gem.
copyright
    Copyright 2018
tags
    test testing scotch vcr http record replay
dependencies
    FSharp.Core >= LOCKEDVERSION
    Newtonsoft.Json >= LOCKEDVERSION
    System.Net.Http >= LOCKEDVERSION
